{% extends 'index.html' %}
{% load bootstrap_icons %}

{% block title %} Sistemas {% endblock %}

{% block body %}
    {% if sistemas|length > 1 %}
        <h4>Sistemas existentes:</h4>
    {% else %}
        <h4>Sistema existente:</h4>
    {% endif %}
    {% for sistema in sistemas %}
        <p>
            Sistema: {{ sistema.nombre }}
            <a href="{% url 'AppSpaceEditarSistema' sistema.nombre %}"> <img src="{% bs_icon 'pencil-square' %}">Editar</a>
        </p>
    {% endfor %}

{% endblock %}