{% extends 'index.html' %}
{% load bootstrap_icons %}

{% block title %} Sistemas {% endblock %}

{% block body %}
    {% if sistemas|length > 1 %}
        <h4>Sistemas existentes:</h4>
    {% else %}
        <h4>Sistema existente:</h4>
    {% endif %}
    {% for sistema in sistemas %}
        <p>
            Sistema: {{ sistema.nombre }}
            <a class="editar_eliminar" href="{% url 'AppSpaceEditarSistema' sistema.id %}"><svg class="size_svg" src="{% bs_icon 'pencil-square' size='28px'  %}"></svg> Editar</a>
            <a class="editar_eliminar" href="{% url 'AppSpaceEliminarSistema' sistema.id %}"><svg class="size_svg" src="{% bs_icon 'x-square' size='28px'  %}"></svg> Eliminar </a>
        </p>
    {% endfor %}

{% endblock %}