{% extends 'index.html' %}
{% load bootstrap_icons %}

{% block title %} Habitantes {% endblock %}

{% block body %}

    <form action="" method="post">
        {% csrf_token %}
        {{ my_form.as_p }}

        <input type="submit" value="Buscar por Planeta">

    </form>

    {% if habitantes|length > 1 %}
        <h4>Habitantes existentes:</h4>
    {% else %}
        <h4>Habitante existente:</h4>
    {% endif %}
    {% for habitante in habitantes %}
        <p>
            Habitante: {{ habitante.nombre }} {{ habitante.apellido }}
            <a class="editar_eliminar" href="{% url 'AppSpaceEditarHabitante' habitante.id %}"><svg class="size_svg" src="{% bs_icon 'pencil-square' size='28px'  %}"></svg> Editar</a>
            <a class="editar_eliminar" href="{% url 'AppSpaceEliminarHabitante' habitante.id %}"><svg class="size_svg" src="{% bs_icon 'x-square' size='28px'  %}"></svg> Eliminar </a>
        </p>
    {% endfor %}

{% endblock %}
