{% load static %}

<!-- Navigation-->
        <nav class="navbar navbar-dark navbar-expand-lg " id="mainNav">
            <div class="container ">
                <a class="navbar-brand pb-4 " href="{% url 'AppSpaceInicio' %}">
                    <object data="{% static 'AppSpace/assets/img/svgexport-28.svg' %}" height="64px" width="64px"></object>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav py-lg-3 ">
                        <li class="nav-item m-3">
                            <a class="nav-link" href="{% url 'AppSpaceInicio' %}">
                                Home
                            </a>
                        </li>
                        <li class="nav-item m-3 ">
                            <a class="nav-link "  href="{% url 'SobreMi' %}">
                                Sobre Mí
                            </a>
                        </li>
                        <li class="nav-item m-3 dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink_Sistemas" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sistemas Planetarios
                            </a>
                            <div class="dropdown-menu rounded" aria-labelledby="navbarDropdownMenuLink_Sistemas">
                                    <a class="dropdown-item" href="{% url 'AppSpaceSistema' %}">Sistemas</a>
                                    <a class="dropdown-item" href="{% url 'AppSpaceBuscarSistemas' %}">Buscar Sistema</a>
                                {% if request.user.is_staff %}
                                    <a class="dropdown-item" href="{% url 'AppSpaceCrearSistema' %}">Crear Sistema</a>
                                {% endif %}
                            </div>
                        </li>
                        <li class="nav-item m-3 dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink_Estrellas" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Estrellas
                            </a>
                            <div class="dropdown-menu rounded" aria-labelledby="navbarDropdownMenuLink_Estrellas">
                                <a class="dropdown-item" href="{% url 'AppSpaceEstrellas' %}">Estrellas</a>
                                <a class="dropdown-item" href="{% url 'AppSpaceBuscarEstrellas' %}">Buscar Estrella</a>
                                {% if request.user.is_staff %}
                                    <a class="dropdown-item" href="{% url 'AppSpaceCrearEstrellas' %}">Crear Estrella</a>
                                {% endif %}
                            </div>
                        </li>
                        <li class="nav-item m-3 dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink_Planetas" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Planetas
                            </a>
                            <div class="dropdown-menu rounded" aria-labelledby="navbarDropdownMenuLink_Planetas">
                                    <a class="dropdown-item" href="{% url 'AppSpacePlanetas' %}">Planetas</a>
                                    <a class="dropdown-item" href="{% url 'AppSpaceBuscarPlanetas' %}">Buscar Planeta</a>
                                {% if request.user.is_staff %}
                                    <a class="dropdown-item" href="{% url 'AppSpaceCrearPlanetas' %}">Crear Planeta</a>
                                {% endif %}

                            </div>
                        </li>
                        <li class="nav-item m-3 dropdown ">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink_Habitantes" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Habitantes
                            </a>
                            <div class="dropdown-menu rounded" aria-labelledby="navbarDropdownMenuLink_Habitantes">
                                <a class="dropdown-item" href="{% url 'AppSpaceHabitantes'%}">Habitantes</a>
                                <a class="dropdown-item" href="{% url 'AppSpaceBuscarHabitantes'%}">Buscar Habitante</a>
                                {% if request.user.is_staff %}
                                    <a class="dropdown-item" href="{% url 'AppSpaceCrearHabitantes' %}">Crear Habitante</a>
                                {% elif request.user.is_authenticated %}
                                    <a class="dropdown-item" href="{% url 'AppSpaceCrearHabitantes' %}">Crear Habitante</a>
                                {% endif %}
                            </div>
                        </li>
                        {% if request.user.is_staff  %}
                            <li class="nav-item m-3 dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink_Caracteristicas" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Caracteristicas
                                </a>
                                <div class="dropdown-menu rounded" aria-labelledby="navbarDropdownMenuLink_Caracteristicas">
                                    <a class="dropdown-item" href="{% url 'AppSpaceClaseEstrella' %}">Clase Estrella</a>
                                    <a class="dropdown-item" href="{% url 'AppSpaceClasePlaneta' %}">Clase Planeta</a>
                                    <a class="dropdown-item" href="{% url 'AppSpaceClaseRegion' %}">Clase Región</a>
                                </div>
                            </li>
                        {% endif %}
                        <li class="nav-item m-3 dropdown" >
                            {% if user.is_authenticated %}
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink_Usuario" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <h7> {{ user.get_username }}</h7>
                                </a>
                                <div class="dropdown-menu rounded" aria-labelledby="navbarDropdownMenuLink_Usuario">
                                    <a class="dropdown-item" href="{% url 'UserEditar'%}">Editar</a>
                                    <a class="dropdown-item" href="{% url 'UserAvatar'%}">Cambiar Avatar</a>
                                </div>
                                <li class="nav-item m-1">
                                    {% if user.avatar.imagen.null %}
                                        <img class="nav-item rounded" height="100px" width="100px" src="{{ user.avatar.imagen.url }}" alt="">
                                    {% elif user.avatar.imagen and user.is_authenticated %}
                                        <img class="nav-item rounded" height="100px" width="100px" src="{{ user.avatar.imagen.url }}" alt="">
                                    {% endif %}
                                </li>
                                <li class="nav-item m-3">
                                    <a class="btn btn-dark btn-sm rounded" href="{% url 'UserLogout' %}">Cerrar Sesión</a>
                                </li>
                            {% else %}
                        <li class="nav-item m-3">
                                <div class="justify-content-between">
                                    <a class="btn btn-dark btn-sm rounded" href="{% url 'UserLogin' %}">Iniciar sesión</a>
                                    <a class="btn btn-dark btn-sm rounded" href="{% url 'UserRegister' %}">Registrarse</a>
                                </div>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>