{% extends 'index.html' %}

{% block title %} Crear Planetas {% endblock %}

{% block body %}

    <form action="" method="POST">

        <div class="div_crud">
            {% csrf_token %}
            {{ my_form.as_p }}
            <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Enviar</button>
        </div>
    </form>

    <h5>Planetas existentes:</h5>
    {% for key, value in planetas.items %}
        <p>Planeta: {{ key }} </p>
        <p>Tiene como nombre {{ value }}</p>
    {% endfor %}

{% endblock %}
