{% extends 'index.html' %}
{% load bootstrap_icons %}

{% block title %} Planetas {% endblock %}

{% block body %}

    <form action="" method="post">
        {% csrf_token %}
        {{ my_form.as_p }}

        <input type="submit" value="Buscar por Sistema">

    </form>

    {% if planetas|length > 1 %}
        <h4>Planetas existentes:</h4>
    {% elif planetas|length == 1 %}
        <h4>Planeta existente:</h4>
    {% endif %}
    {% for planeta in planetas %}
        <p>
            Planeta: {{ planeta.nombre }}.
            <a class="editar_eliminar" href="{% url 'AppSpaceEditarPlaneta' planeta.id %}"><i class="bi-pencil-square"></i>Editar</a>
            {% if user.is_staff %}
                <a class="editar_eliminar" href="{% url 'AppSpaceEliminarPlaneta' planeta.id %}"><i class="bi-x-square"></i>Eliminar</a>
            {% endif %}
        </p>
    {% endfor %}

{% endblock %}
