{% extends 'index.html' %}

{% block title %} Planetas {% endblock %}

{% block body %}

    <form action="" method="post">
        {% csrf_token %}
        {{ my_form.as_p }}

        <input type="submit" value="Buscar por Sistema">

    </form>

    {% if planetas|length > 1 %}
        <h4>Planetas existentes:</h4>
    {% else %}
        <h4>Planeta existente:</h4>
    {% endif %}
    {% for planeta in planetas %}
        <p>
            Planeta: {{ planeta.nombre }}
            <!--<a href="% url 'AppSpaceEditarPlaneta' planeta.nombre %}"><img src="'AppSpace/css/icons/pencil-square.svg'" alt="Bootstrap" width="32" height="32">Editar</a>
            <a></a>-->
        </p>
    {% endfor %}

{% endblock %}
