{% extends 'index.html' %}
{% load static %}

{% block title %} Sistemas {% endblock %}

{% block body %}
    {% if estrellas|length > 1 %}
        <h4>Estrellas existentes:</h4>
    {% else %}
        <h4>Estrella existente:</h4>
    {% endif %}
    {% for estrella in estrellas %}
        <p>
            Estrella: {{ estrella.nombre }}
            <a href="{% url 'AppSpaceEstrellas' sistema.nombre %}"><img src="{% static 'AppSpace/css/icons/pencil-square.svg' %}" alt="Bootstrap" width="32" height="32">Editar</a>
            <a></a>
        </p>
    {% endfor %}

{% endblock %}