{% extends 'index.html' %}

{% load bootstrap_icons %}

{% block title %} Sistemas {% endblock %}

{% block body %}
    {% if estrellas|length > 1 %}
        <h4>Estrellas existentes:</h4>
    {% else %}
        <h4>Estrella existente:</h4>
    {% endif %}
    {% for estrella in estrellas %}
        <p>
            Estrella: {{ estrella.nombre }}
            <a class="editar_eliminar" href="{% url 'AppSpaceEditarEstrella' estrella.nombre %}"><svg class="size_svg" src="{% bs_icon 'pencil-square' size='28px'  %}"></svg> Editar</a>
            <a class="editar_eliminar" href="{% url 'AppSpaceEliminarEstrella' estrella.nombre %}"><svg class="size_svg" src="{% bs_icon 'x-square' size='28px'  %}"></svg> Eliminar </a>
        </p>
    {% endfor %}

{% endblock %}