{% extends 'index.html' %}

{% block title %} Habitantes {% endblock %}

{% block body %}

    <form action="" method="POST">

        <div class="div_habitantes">
            {% csrf_token %}
            {{ my_form.as_p }}

            <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Enviar</button>
        </div>

    </form>

    <h5>Habitantes existentes:</h5>
    {% for key, value in habitantes.items %}
        <p>Habitante: {{ key }} </p>
        <p>Tiene como nombre {{ value }}</p>
    {% endfor %}

{% endblock %}
